
/*logo*/


#logo {
    padding: 10px 0 0;
    height: 85px; }
    #logo .logo_l {
      float: left;
      width: 162px;
      padding-top: 0;
      line-height: 18px;
      position: relative; }
      #logo .logo_l img {
        padding-right: 7px;
        float: left;
        padding-top: 20px;
        width: 162px; }
    #logo .dianpu {
      float: left;
      position: relative;
      padding: 15px 0 0;
      height: 50px; }
      #logo .dianpu .dplogo {
        float: left;
        padding: 0 10px;
        height: 38px;
        border-left: 1px solid #f0f0f0;
        width: auto; }
  
  .dp_js {
    height: 25px;
    width: 80px; }
    .dp_js .dp_icon {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      height: 14px;
      line-height: 14px;
      font-weight: 700;
      background-color: #f4c985;
      border: 1px solid #e7ba77;
      border-radius: 2px;
      color: #856651;
      text-align: center; }
      .dp_js .dp_icon span {
        font-size: 10px; }


        .talk_t{
            overflow: hidden;
        }
        .talk_t a{
            display: inline-block;
            height: 22px;
            width: 22px;
            line-height: 19px;
            overflow: hidden;
            background-color: #fff;
            font-size: 12px;
            font-family: "\5b8b\4f53";
            color: #333;
            font-weight: 700;
            background-position: -110px 0;
            background-image: url("https://img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif") 
        }
        .dianpu{
            position: relative;
            float: left;
            width: 132px;
            height: 38px;
            font-weight: 400;
            padding: 0 10px;
            border-left: 1px dotted #f0f0f0;
        }
        .dianpu_inner{
            overflow: hidden;
            position: relative;
        }
        .dianpu_item{
            float: left;
            color: #999;
            width: 36px;
            height: 36px;
            position: relative;
        }
        .iten_title{
            text-align: center;
        }
        .fenshu{
            color: #ff0036;
            padding-left: 5px;
            height: 18px;
            width: 31px;
            position: relative;
            overflow: hidden;
        }
        .jiantou{
            float: left;
            display: block;
            margin: 0 0 0 14px;
            width: 6px;
            height: 38px;
            position: relative;
        }
.jiantou1{
    border-color: #ccc #fff #fff;
    border-style: solid;
    border-width: 4px;
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 15px;
}
.two_ma{
    float: left;
    width: 54px;
    border-left: 1px solid #f0f0f0;
    padding: 0 10px;
    margin: 15px 0 0;
    position: relative;
}
.shopwt-qr{
    font-style: normal;
    font-size: 24px;
    font-family: tm-shop-font;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    color: #999;
    position: absolute;
    top: 13px;
    left: 14px;
}

.jiantou2{

    left: 18px;
    display: block;
    margin: 0 0 0 14px;
    width: 6px;
    height: 38px;
    position: relative;

}

/*    搜索   */

.search{
    overflow: hidden;
}
.search_inner{
    width: 540px;
    padding: 15px 0 0;
    float: right;
    overflow: hidden;
}
  .form_bor{
    border: none;
  }
  .sea_input{
    height: 36px;    
    background: #fff;
    position: relative;
  }

  .sea_input_l{
    border: solid #ff0036;
    border-width: 3px 0 3px 3px;
    width: 455px;
    height: 30px;
    overflow: hidden;
    position: relative;
  }

  .input_l_inner{
    float: left;
    height: 30px;
    font-size: 12px;
    position: relative;
    height: 30px;
    vertical-align: middle
  }
  #mq{
    background: 0 0;    
    box-sizing: content-box;
    color: #000;
    margin: 0;
    z-index: 2;
    width: 375px;
    height: 20px;
    line-height: 20px;
    outline: 0;
    border: none;
    font-weight: 900;
  }
  .input_l_inner_placeholder{
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 1;    
    color: rgb(102, 102, 102);
    visibility: visible;max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(102, 102, 102);
    visibility: visible;
  }
  /*                左右按钮*/

  .tm_btn{
    right: 0;
    top: 0;
    width: 80px;
    height: 30px;
    border: 0;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
    color: #fff;
    background-color: #ff0036;
    overflow: hidden;
  }

  .soubend{
    left: auto;
    right: 0;
    top: 0;
    background: #333;
    width: 80px;
    height: 36px;   
     border: 0;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
    color: #fff;
    position: absolute;
    z-index: 1;
  }


  /*        `   广告      */

  .banner{
    max-height: 150px;
    height: 150px;
    overflow: hidden;
    padding-bottom: 0;
    position: relative;
    background: url("https://gdp.alicdn.com/imgextra/i1/1639178414/O1CN01Ku3KCt2C1f1Ifa1Pw_!!1639178414.jpg") repeat-x center 0;
    margin-bottom: 0px;
  }


  /*            内容*/

.xf{
    width: 50px;
    height: 50px;
    background: rgba(102, 102, 102, 0.2);
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

#detail{
    width: 1190px;
    margin: 20px auto;
    padding: 0;
}

.detail_l{
    width: 990px;
    position: relative;
    z-index: 100;
    min-height: 600px;
}
.inner_l{
    float: left;
    width: 460px;
    position: relative;
}

.xt{
    position: relative;
    display: table;
    table-layout: fixed;
    z-index: 1;
    width: 420px;
    height: 420px;
    margin: 20px auto 0;
    
}

.xt img{
    width: 420px;
    height: 420px;
}

/*             更多 */
.mover{
    position: relative;
    margin-top: 10px;
}
.active{
    border: 2px solid #000;
    width: 56px;
    height: 56px;
}

.mover ul{
    
    padding-left: 38px;
    text-align: center;
    margin-left: -16px;
    white-space: nowrap;
    position: relative;
    transition: left .2s cubic-bezier(0,0,.25,1);
    font-size: 0;
    list-style: none;
    overflow: hidden;
}
.mover ul li{
    display: inline-block;
    margin: 0 0 0 16px;
    padding-top: 22px;
    padding: 0;
    list-style: none;
    border: 2px solid transparent;
}
.mover ul li a{
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
}

.mover ul li a img{
    width: 60px;
    height: 60px;
}

.inner_r{
    margin: 0 0 0 460px;
    color: #666;
    padding: 0 0 10px;
    height: 608px;
}

/*        商品价格++*/

.title{
    padding: 20px 10px 12px;
    color: #000;
}
.title h1{
    padding-bottom: .2em;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.newp{
    font-size: 14px;
    color: #FF0036;
}

.jg_title{
    height: 52px;
    width: 510px;
    background-image: url("https://gtms01.alicdn.com/tps/i1/TB1NbY9JpXXXXc3XFXXQ0jn9FXX-1020-100.png");
    background-size: 100% 50px;
}

.jg{
    width: 510px;
    height:50px;
    background-color: #e9e9e954;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    z-index: 10;
    font: 12px/1.5 "Microsoft Yahei",tahoma,arial;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 20px;
}
.jg span{
 
    line-height: 50px;
    font-size: 18px;
    color: #666; 
}
.jg p{
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: red;
}

.content{

    width: 510px;
  
}
.content p{
    line-height: 30px;
}


/*              选择*/

dl{
    padding-bottom: 6px;
    margin-left: 50px;
    height: 42px;
}
dl dt{
    text-align: left;
    float: left;
    width: 66px;
    color: #838383;
    margin-top: 6px;
}
dl dt dd{
    width: 420px;
    float: left;
}

dd ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.lis{
    width: 28px;
    height: 28px;
    float: left;
    position: relative;
    margin: 0 4px 4px 0;
    line-height: 28px;
    vertical-align: middle;
    padding: 1px;
    border: 1px solid #666;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}
.lis input{
    border: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    color: block;
}
/*              购物车按钮*/
.top{
    margin-top: 10px;
    height: 50px;
}
#gm{
    background-color: #ffeded;
    margin:0px 10px 0 50px;
  
}

#gm .gm_color{
    color: #FF0036;
}
.gwc{
    background-color: #ff0036;
    border: 1px solid #ff0036;
    color: #fff;
    margin-right: 0;
    float: left;
    overflow: hidden;
    position: relative;
    width: 178px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px; 
}
.gwc a{
    color: white;
}
/*              大图*/

.dt{
    z-index: 999;
    width: 418px;
    height: 418px;
    left: 656.5px;
    top: 320px;
    position: absolute;
    display: none;
    overflow: hidden;
}
.dt img{
    position: relative;
    width: 800px;
    height: 800px;
}

.active{
    border-color: red;
}