@charset "UTF-8";

/*           实惠专业户       */

.zyh {
    height: 251px;
    h3 {
        color: #31ba98;
        em {
            @include em();
        }
    }
    .zyh_title:before {
        background: #31ba98;
    }
}

.zyh_lis {
    float: left;
    width: 216px;
    height: 200px;
    border: 1px solid transparent;
    border-bottom-color: #f4f4f4;
    border-right-color: #f4f4f4;
    padding-left: 20px;
    h4 {
        margin-top: 24px;
        line-height: 26px;
        height: 26px;
        font-weight: normal;
        color: #333;
        a {
            font-size: 18px;
        }
    }
}

.zyh_img {
    img {
        display: block;
        width: 120px;
        height: 120px;
    }
}

.zyh_js {
    margin-left: 131px;
    a {
        margin-top: 13px;
        display: block;
        width: 76px;
        height: 22px;
        line-height: 22px;
        border: 1px solid #ff5000;
        color: #ff5000;
        border-radius: 12px;
        background-clip: padding-box;
        text-align: center;
    }
}


/**/


/**/


/**/


/*实惠专业户 end*/