@charset "UTF-8";
body {
    background: #f5f5f5
}

body a {
    color: #3C3C3C;
}

body a:hover {
    color: #F40;
    text-decoration: none;
}

@font-face {
    font-family: global-iconfont;
    src: url(fonts/font_1404888168_2057645.woff) format("woff")
}

.site-nav-icon {
    font-family: global-iconfont;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscaleFont type;
    margin-right: 5px;
    color: #c21a1a;
}
@import '_head';
@import 'louti';
@import '_head-log';
@import '_banner-nav';
@import 'banner';
@import '_youhaohuo';
@import 'taoqianggou';
@import 'tainiule';
@import 'everyday';
@import 'fanshion';
@import 'pinzhi';
@import 'shihui';
@import 'remaidanpin';
@import 'like';
@import '_footer';